<!DOCTYPE html>
<html>
<head>
    <title>Black Scholes App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <div class="container mt-5">

<div class="links">
    <a href="/" class="btn btn-secondary">Home</a>
    <a href="/calculator" class="btn btn-secondary">Calculator</a>

</div>
        <h1 class="mb-4">Stock Data</h1>
        <form method="POST">
            <label for="ticker">Ticker symbol</label>
            <input type="String" id="ticker" name="ticker" required>
            <button type="submit" class="btn btn-primary">Fetch Data</button>
        </form>
    <h1>Yahoo finance data:</h1>
  
    <p>Name: <span id="name">{{ result['name'] }}</span></p>
    <p>Stock Price: <span id="stock_price">{{ result['stock price'] }}</span></p>
    <p>Time to Maturity: <span id="time_to_maturity">{{ result['time to maturity'] }}</span> years</p>
    <p>Implied Volatility: <span id="implied_volatility">{{ result['implied volatility'] }}</span></p>
    <p>Risk-Free Rate: <span id="risk_free_rate">{{ result['risk free rate'] }}</span></p>
    <p>Call Strike Price: <span id="call_strike_price">{{ result['call strike price'] }}</span></p>
    <p>Theoretical Premium calculated from Black-Scholes-Merton model: <span id="price">{{ result['price'] }}</span></p>
    <p>Real-world premium of option: <span id="Real-world premium">{{ result['Real-world premium'] }}</span></p>
    <p>Optimized premium of option based on sentimental analysis: <span id="Real-world premium">{{ result['Optimized premium'] }}</span></p>



   

</div>
</body>
</html>